@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1280px,
  container: 1440px,
  xxlarge: 1600px,
  xxxlarge: 2000px,
);

:root {
  --select-border: #272728;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

$main-color: #912740;
$main-color-hover: #c74967;
$main-hover: #8366af;
$border-color: #e9e9e9;

$bg-cream-white: #f8f8f8;

$box-shadow: 0 0 30px
  rgba(
    $color: #555555,
    $alpha: 0.05,
  );

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-center-32 {
  display: flex;
  align-items: center;
  gap: 32px;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;

  @include mq(medium) {
    padding-inline: 1.5rem;
  }

  @include mq(xlarge) {
    padding-inline: 2rem;
  }

  @include mq(container) {
    padding-inline: 0;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.errorMessage {
  color: #943f3f;
}

// Login Page
.login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include mq(medium) {
    align-items: center;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
  }

  .login-container {
    z-index: 2;
    max-width: 375px;
    width: 100%;
    overflow: hidden;
    background-color: $bg-cream-white;
    border-radius: 1rem;
    position: relative;
    animation: pop-in 0.25s ease-in;

    @include mq(medium) {
      max-width: 536px;
    }

    @include mq(xlarge) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 792px;
      max-width: 1088px;
    }

    .close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      background-color: #e6e6e6;
      z-index: 5;
      border-radius: 50px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img-container {
      min-height: 204px;
      position: relative;
      overflow: hidden;

      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      @include mq(xlarge) {
        display: grid;
        align-content: end;
        padding: 32px 24px;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h2 {
        height: 100%;
        width: 100%;

        z-index: 2;
        padding: 8px;
        position: relative;

        color: #fff;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        font-family: 'Montserrat', sans-serif;
      }
    }

    .login-form {
      padding: 24px 16px;
      background-color: $bg-cream-white;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      @include mq(xlarge) {
        padding-inline: 40px;
      }

      form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        h2 {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }

        .username-input {
          width: 100%;
          position: relative;

          .user {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
          }
        }

        .password-input {
          width: 100%;
          position: relative;

          .locker {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
          }

          .password-toggle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 13px;
          }
        }

        input {
          width: 100%;
          padding: 12px 12px 12px 40px;
          border-radius: 12px;
          border: 1px solid #a6a6a7;
        }

        .forgot-pass {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        .login-btn {
          padding: 8px 24px;
          border-radius: 8px;
          border: unset;
          background-color: #000;
          color: #fff;
          width: 100%;
          min-height: 44px;
          cursor: pointer;

          @include mq(xlarge) {
            font-size: 20px;
          }
        }

        .google-login {
          width: 100%;

          span {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
          }

          .google-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 24px 8px 16px;
            justify-content: center;
            width: 100%;
            border: 1px solid #000;
            border-radius: 12px;

            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
          }
        }

        .register-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;

          span {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .close-login {
    animation: pop-out 0.25s ease-in;
  }
}

// Login Page
.register {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include mq(medium) {
    align-items: center;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
  }

  .register-container {
    z-index: 2;
    max-width: 375px;
    width: 100%;
    overflow: hidden;
    background-color: $bg-cream-white;
    border-radius: 16px;
    position: relative;
    animation: pop-in 0.25s ease-in;

    @include mq(medium) {
      max-width: 536px;
    }

    @include mq(xlarge) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 792px;
      max-width: 1088px;
    }

    .close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      background-color: #e6e6e6;
      z-index: 5;
      border-radius: 50px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img-container {
      min-height: 204px;
      position: relative;
      overflow: hidden;

      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      @include mq(xlarge) {
        display: grid;
        align-content: end;
        padding: 32px 24px;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h2 {
        height: 100%;
        width: 100%;

        z-index: 2;
        padding: 8px;
        position: relative;

        color: #fff;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        font-family: 'Montserrat', sans-serif;
      }
    }

    .register-form {
      padding: 24px 16px;
      background-color: $bg-cream-white;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      @include mq(xlarge) {
        padding-inline: 40px;
      }

      form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        h2 {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }

        .username-input {
          width: 100%;
          position: relative;

          .user {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
          }
        }

        .password-input {
          width: 100%;
          position: relative;

          .locker {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
          }

          .password-toggle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 13px;
          }
        }

        input {
          width: 100%;
          padding: 12px 12px 12px 40px;
          border-radius: 12px;
          border: 1px solid #a6a6a7;
        }

        .fullName-input {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 12px;

          width: 100%;

          input {
            padding: 12px;
          }
        }

        .term-of-use {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          width: 100%;

          input {
            width: fit-content;
          }

          div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 8px;
          }
        }

        .forgot-pass {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        .login-btn {
          padding: 8px 24px;
          border-radius: 8px;
          border: unset;
          background-color: #000;
          color: #fff;
          width: 100%;
          min-height: 44px;
          cursor: pointer;

          @include mq(xlarge) {
            font-size: 20px;
          }
        }

        .google-login {
          width: 100%;

          span {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;
          }

          .google-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 24px 8px 16px;
            justify-content: center;
            width: 100%;
            border: 1px solid #000;
            border-radius: 12px;

            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
          }
        }

        .register {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;

          span {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .close-login {
    animation: pop-out 0.25s ease-in;
  }
}

.register-new-car-steps {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 16px;

  h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #595959;
  }
  .steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    :first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    :last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }

    .step {
      height: 0.5rem;
      width: 100%;
      background-color: #f9e7eb;
    }

    .active-step {
      background-color: #912740;
    }
  }
}

.register-car,
.single-car {
  position: relative;
  max-width: 768px;
  padding: 32px 16px;
  padding-bottom: 0;

  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #912740;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #912740;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    //   margin-bottom: 16px;
    color: #000000;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    //  margin-bottom: 16px;
    color: #000000;
  }

  .select-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    color: #000;
    cursor: pointer;

    @include mq(medium) {
      grid-template-columns: 1fr 1fr;
    }

    .full-row {
      grid-column: span 1;

      @include mq(medium) {
        grid-column: span 2;
      }
    }

    .custom-select__indicator-separator {
      display: none;
    }

    .css-13cymwt-control,
    .css-t3ipsp-control {
      border: none;
      min-height: unset;
      height: 24px;
      border-color: none;
      box-shadow: none;
    }

    .css-art2ul-ValueContainer2 {
      padding: 0;
    }

    .custom-select__value-container {
      padding: 0px;
    }

    .create-select {
      border: 1px solid #a6a6a7;
      padding: 12px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      height: 64px;
      position: relative;
      cursor: pointer;

      .select-label {
        z-index: 1;
        pointer-events: none;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
      }

      .single-select {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 24px);
        font-size: 16px;
        line-height: 24px;

        .custom-select__control {
          padding-top: 24px;
          left: 12px;
          border: none;
          border-color: none;
          box-shadow: none;
        }

        .custom-select__menu {
          max-height: 180px;
          overflow-y: auto;
          z-index: 2;
        }
      }
    }

    .create-input {
      border: 1px solid #a6a6a7;
      padding: 12px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      height: 64px;
      cursor: pointer;
      position: relative;

      .euro {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }

      .input-label {
        z-index: 1;
        pointer-events: none;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
      }

      .single-input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 24px);
        font-size: 16px;
        line-height: 24px;
        border: none;
        padding-right: 25px;
        padding-top: 24px;
        left: 12px;
      }

      .single-input:focus,
      .single-input:focus-visible {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .com2-container {
    display: grid;

    .feature-area {
      margin-bottom: 16px;

      .additional-text {
        color: #838486;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      }

      .tile-area {
        margin: 16px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 96px);
        gap: 16px;

        .tile {
          background-color: #ffffff;
          width: 96px;
          height: 44px;
          padding: 6px 32px 6px 32px;
          border-radius: 8px;
          border: 2px solid #a6a6a7;
          cursor: pointer;

          h4 {
            text-align: center;
          }

          &.enabled {
            background-color: #f3e7ea;
            border: 2px solid #912740;
          }

          &.enabled h4 {
            font-weight: 500;
            color: #912740;
          }
        }
      }

      .color-area {
        margin: 16px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 156px);
        gap: 16px;

        .color-tile {
          background-color: #ffffff;
          width: 156px;
          height: 44px;
          padding: 8px 16px 8px 16px;
          border-radius: 8px;
          border: 2px solid #a6a6a7;
          display: flex;
          align-items: center;
          cursor: pointer; // Make it clear that the tiles are clickable
          //     transition: background-color 0.3s;

          &.enabled {
            background-color: #f3e7ea;
            border: 2px solid #912740;
          }

          &.enabled h4 {
            font-weight: 500;
            color: #912740;
          }

          h4 {
            text-align: center;
          }

          .color-display {
            display: flex;
            align-items: center;
            gap: 10px; // Space between the circle and the color name

            .out-color-circle {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #d5d5d5;
              display: flex;

              .color-circle {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: currentColor;
                margin: auto;
                border: 2px solid #ffffff;
              }
            }
          }
        }
      }

      .checkbox-container {
        margin: 16px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        gap: 8px;

        .checkbox-item {
          display: flex;
          align-items: center;
          cursor: pointer;

          label {
            display: flex;
            // align-items: center;
            gap: 8px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #000;
          }

          input[type='checkbox'] {
            accent-color: #000000;
          }
        }
      }
    }
  }

  // .btn {
  //   justify-self: end;

  .buttons {
    display: flex;
    flex-flow: row-reverse;
    gap: 24px;

    .register-car-btn {
      padding: 8px 24px;
      border-radius: 8px;
      border: unset;
      background-color: #000;
      color: #fff;
      // width: 127px;
      min-height: 44px;
      cursor: pointer;
      margin: 16px 0px;

      font-size: 20px;
      // gap: 8px;
      // position: absolute;
      // right: 0px;

      &:disabled {
        background-color: #a6a6a7;
        color: #ffffff;
        cursor: not-allowed;
      }

      // @include mq(xlarge) {
      //   font-size: 20px;
      // }
    }

    .go-back-car-btn {
      padding: 8px 24px;
      border-radius: 8px;
      background-color: #fff;
      color: #000;
      min-height: 44px;
      cursor: pointer;
      margin: 16px 0px;
      border-radius: 8px;
      border: 1px solid #000000;

      font-size: 20px;
      // gap: 8px;
      // position: relative;
      // right: -100px;
    }
  }
}

.step-three {
  .autocomplete-suggestions {
    position: relative;
    padding-bottom: 16px;

    .create-input-auto-complete {
      border: 1px solid #a6a6a7;
      padding: 12px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      height: 64px;
      cursor: pointer;
      position: relative;

      .euro {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }

      .input-label {
        z-index: 1;
        pointer-events: none;
        cursor: pointer;
        font-size: 12px;
        line-height: 14px;
      }

      .single-input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 24px);
        font-size: 16px;
        line-height: 24px;
        border: none;
        padding-right: 25px;
        padding-top: 24px;
        left: 12px;
      }

      .single-input:focus,
      .single-input:focus-visible {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    .google-autocomplete-suggestions {
      list-style: none;
      border: 1px solid #a6a6a7;
      padding: 12px;
      border-radius: 12px;
      background-color: #fff;

      position: absolute;
      top: 76px;
      width: 100%;
      max-height: 220px;
      overflow: auto;
      z-index: 1;

      li {
        cursor: pointer;
        padding: 8px;
        margin: 4px 0;

        // &:nth-child(odd) {
        //    background-color: red;
        // }
      }
    }
  }
}

.step-four {
  .img-upload {
    #img-upload {
      display: none;
    }
    .file-custom {
      width: 100%;
      height: 198px;
      padding: 40px;
      font-size: 100px;
      border: 1px solid #efd4da;
      border-radius: 4px;
      margin-bottom: 24px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      h4 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #000;
        text-align: justify;
      }

      p {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: #595959;
      }
    }

    .image-upload-loading {
      padding: 12px;
      border: 1px solid #a6a6a7;
      border-radius: 12px;
      display: grid;
      grid-template-columns: 1fr 24px;
      gap: 4px;
      margin-bottom: 24px;

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;

        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .car-images-container {
      h3 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 16px;
      }

      .car-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        @include mq(medium) {
          grid-template-columns: repeat(3, 1fr);
        }

        @include mq(xlarge) {
          grid-template-columns: repeat(4, 1fr);
        }

        .single-image {
          padding: 8px;
          border: 1px solid #2fb25b;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          gap: 8px;

          label {
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;

            display: flex;
            align-items: center;
            gap: 8px;
          }

          .image-container {
            width: 100%;
            aspect-ratio: 3 / 2;
            overflow: hidden;

            img {
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }

        .image-name-del {
          display: grid;
          grid-template-columns: 1fr 24px;
          gap: 4px;

          p {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;

            font-size: 12px;
            line-height: 24px;
            font-weight: 400;
          }

          .trash-icon {
            width: 24px;
            height: 24px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.profile-page {
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;

    @include mq(medium) {
      flex-direction: row;
      gap: 24px;
      align-items: center;
      padding-left: 24px;
      margin-bottom: 24px;
      justify-content: flex-start;
      width: 100%;
    }

    .profile-image {
      width: 148px;
      height: 148px;
      border-radius: 50%;
      border: 4px solid #272728;
      position: relative;
      margin-bottom: 12px;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .upload-icon {
        position: absolute;
        top: 116px;
        left: 92px;
        width: 40px;
        height: 40px;
        background-color: #272728;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        input {
          display: none;
        }

        label {
          cursor: pointer;
        }
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      @include mq(medium) {
        align-items: flex-start;
      }

      h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #000;
      }

      .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .stars {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .text {
          color: #838486;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
        }
      }
    }
  }

  .tab-section {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 16px;
    border-radius: 24px;
    width: 100%;

    @include mq(xlarge) {
      display: grid;
      grid-template-columns: 236px 1fr;
      gap: 40px;

      padding: 24px;
    }

    .tabs {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 16px;
      overflow-x: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      max-width: 100%;
      margin-bottom: 40px;

      @include mq(medium) {
        justify-content: space-between;
      }

      @include mq(xlarge) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 0;
        justify-content: flex-start;
      }

      .tab {
        padding: 8px 16px 8px 16px;
        border-radius: 8px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #595959;
        text-wrap: nowrap;
        cursor: pointer;
      }

      .selected {
        background-color: #efd4da;
        font-weight: 500;
        color: #000;
      }
    }
    .car-list {
      .mycars-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;

        .car {
          padding: 16px;
          border-radius: 16px;
          background: #ffffff;
          border: 1px solid #e6e6e6;
          cursor: pointer;
          margin-bottom: 26px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 12px;

          &:nth-last-child(2) {
            margin-bottom: 0;
          }

          @include mq(medium) {
            flex-direction: row;
            justify-content: flex-start;
          }

          .car-img {
            width: 146px;
            height: 104px;
            border-radius: 8px;
            overflow: hidden;

            img {
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .car-info {
            h2 {
              font-size: 24px;
              line-height: 32px;
              font-weight: 700;
              margin-bottom: 8px;
              text-align: center;

              @include mq(medium) {
                text-align: left;
              }
            }
          }
        }
      }

      .add-car-container {
        justify-self: end;

        .add-car {
          width: fit-content;
          border: 1px solid #000000;
          padding: 8px 24px;
          border-radius: 8px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
          background-color: #fff;
          margin-inline: auto;
          cursor: pointer;
        }
      }
    }

    .no-cars-registered {
      h2 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        color: #838486;
        margin-bottom: 26px;
        text-align: center;
      }

      .img {
        width: 100%;
        height: auto;
        overflow: hidden;
        max-width: 424px;
        margin-inline: auto;
        margin-bottom: 24px;

        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .add-car-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .add-car {
          width: fit-content;
          border: 1px solid #000000;
          padding: 8px 24px;
          border-radius: 8px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
          background-color: #fff;
          margin-inline: auto;
          cursor: pointer;
        }
      }
    }

    .single-car {
      max-width: 100%;
      padding: 0;

      .car-images {
        @include mq(xlarge) {
          grid-template-columns: repeat(5, 1fr);
        }
      }

      .car-images-container {
        margin-bottom: 16px;

        h3 {
          text-align: left;
        }
      }

      .img-upload {
        label {
          margin-bottom: 0;
        }
      }

      .register-car-btn {
        margin-bottom: 0;
      }

      .datePicker {
        input {
          border: none;
        }
      }

      .react-datepicker__tab-loop {
        h2 {
          font-size: 16px;
          line-height: normal;
        }

        .react-datepicker {
          border-radius: 12px;
          border: 1px solid #a6a6a7;
          padding: 12px;

          .react-datepicker__header {
            background-color: #fff;
          }
        }
      }

      .google-autocomplete-suggestions {
        list-style: none;
        border: 1px solid #a6a6a7;
        padding: 12px;
        border-radius: 12px;
        background-color: #fff;

        position: absolute;
        top: 76px;
        left: 0;
        width: 100%;
        max-height: 220px;
        overflow: auto;
        z-index: 1;

        li {
          cursor: pointer;
          padding: 8px;
          margin: 4px 0;

          // &:nth-child(odd) {
          //    background-color: red;
          // }
        }
      }

      .car-top-section {
        width: 100%;
        margin-bottom: 24px;

        .back-button {
          display: flex;
          align-items: center;
          gap: 13px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          color: #000;
          border: none;
          background-color: unset;
          margin-bottom: 4px;
          cursor: pointer;
        }

        h2 {
          font-size: 32px;
          line-height: 40px;
          font-weight: 700;
          color: #000;
          margin-bottom: 4px;
          width: 100%;
          text-align: left;
        }

        .rating-delete {
          display: flex;
          flex-direction: column;
          gap: 16px;
          width: 100%;

          @include mq(medium) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }

          .delete-car {
            align-self: flex-end;

            button {
              font-size: 20px;
              line-height: 24px;
              color: #dd2037;
              border: none;
              background-color: unset;
            }
          }
        }
      }

      .car-tabs {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 16px;
        overflow-x: auto;
        margin-bottom: 24px;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .car-tab {
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          text-wrap: nowrap;
          padding: 4px 16px 8px 16px;
          border-width: 0 0 2px 0;
          border-color: transparent;
          border-style: solid;
          color: #595959;
          cursor: pointer;
        }

        .selected-car-tab {
          border-width: 0 0 2px 0;
          border-color: #912740;
          border-style: solid;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    .stars {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .star {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .text {
      color: #838486;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

.spinner-full-width {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-24 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-16 {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid $main-color;
    animation: prixClipFix 2s linear infinite;
  }
}

.loader-24 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid $main-color;
    animation: prixClipFix 2s linear infinite;
  }
}

.car-reservations {
  .booking-list {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #912740;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .bookings {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .book {
      padding: 24px 16px 24px 16px;
      border: 1px solid #e6e6e6;
      background-color: #f8f8f8;
      border-radius: 16px;
      width: 100%;
      position: relative;

      .status {
        padding: 4px 12px 4px 12px;
        border-radius: 24px;
        margin-inline: auto;
        width: fit-content;
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);

        font-size: 14px;
        line-height: 16px;
        font-weight: 500;

        @include mq(medium) {
          top: 16px;
          left: 16px;
          transform: unset;
        }
      }

      .status.accepted {
        background-color: #e2f0e7;
        color: #2fb25b;
      }

      .status.rejected {
        background-color: #f3e3e5;
        color: #dd2037;
      }

      .status.cancelled {
        background-color: #ece7dd;
        color: #e59a01;
      }

      .for {
        margin-bottom: 14px;
        text-align: center;
        h3 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 700;
          margin-bottom: 12px;
          color: #000;
        }

        .dates {
          @include mq(medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
          }
          .date {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            color: #000;
          }
        }
      }

      .from {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #838486;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        button {
          font-weight: 400;
          color: #000;
          text-decoration: underline;
          background-color: unset;
          border: none;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }

      .from.pending {
        margin-bottom: 24px;
      }

      .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        @include mq(medium) {
          max-width: 280px;
          margin: auto;
        }

        button {
          padding: 8px 24px 8px 24px;
          border-radius: 8px;

          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
        }

        .accept {
          background: #000;
          color: #fff;
          border: 1px solid #000;
        }

        .decline {
          color: #dd2037;
          border: 1px solid #dd2037;
        }
      }
    }

    .book.previous {
      padding-top: 40px;

      @include mq(medium) {
        padding-top: 24px;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;

    li {
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 16px;
      line-height: 16px;
      cursor: pointer;
      color: #595959;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      a {
        width: 16px;
        height: 16px;
      }

      &:first-child,
      &:last-child {
        padding: 4px 4px;
      }
    }

    li.selected {
      background-color: #efd4da;
      color: #000;
    }

    li.disabled {
      color: #737373;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
